<a href="https://colab.research.google.com/github/kavyasreemaniga/DATA_603/blob/main/assignments/Assignmet_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 5- Baltimore Crime Data

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 50 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=b6a93336e0e2c96e53df0035f1bb0c43cfa7675e9c121a7a36343672a9361a10
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

### We need pyspark.sql.types to define schemas for the DataFrames. The pyspark.sql.functions library contains all of the functions specific to SQL and DataFrames in PySpark.

#### 1. Specify the schema for the crime data set.

In [2]:
from pyspark.sql.types import *  # Necessary for creating schemas
from pyspark.sql.functions import * # Importing PySpark functions

In [3]:
pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [4]:
pip show pyspark

Name: pyspark
Version: 3.3.0
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: /usr/local/lib/python3.7/dist-packages
Requires: py4j
Required-by:

In [5]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [6]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, TimestampType
from pyspark import StorageLevel
import pyspark.sql.functions as F
schema = StructType([
    StructField('X', DoubleType(), True),
    StructField('Y', DoubleType(), True),
    StructField('RowID', IntegerType(), False),
    StructField('CrimeDateTime', StringType(), True), # TimestampType ??
    StructField('CrimeCode', StringType(), True),
    StructField('Location', StringType(), True),
    StructField('Description', StringType(), True),
    StructField('Inside_Outside', StringType(), True),
    StructField('Weapon', StringType(), True),
    StructField('Post', StringType(), True),
    StructField('District', StringType(), True),
    StructField('Neighborhood', StringType(), True),
    StructField('Latitude', DoubleType(), True),
    StructField('Longitude', DoubleType(), True),
    StructField('GeoLocation', StringType(), True),
    StructField('Premise', StringType(), True),
    StructField('VRIName', StringType(), True),
    StructField('Total_Incidents', IntegerType(), True),
    StructField('Shape', StringType(), True)
  ])

### 2. Read the file using the schema definition

In [8]:
df = spark.read.option('header', True).schema(schema).csv("Part1_Crime_data.csv")
df.persist(StorageLevel.MEMORY_AND_DISK)

29784
root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)
 |-- Shape: string (nullable = true)

### 3. Cache the DataFrame

#### Using cache() and persist() methods, Spark provides an optimization mechanism to store the intermediate computation of a Spark DataFrame so they can be reused in subsequent actions.

### - spark caching can be used to pull datasets into a cluster-wide-in-memory cache. This is very useful for accessing repeated data when running an iterative algorithm.

In [9]:
df.is_cached

True

In [10]:
df.cache()

DataFrame[X: double, Y: double, RowID: int, CrimeDateTime: string, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: string, District: string, Neighborhood: string, Latitude: double, Longitude: double, GeoLocation: string, Premise: string, VRIName: string, Total_Incidents: int, Shape: string]

### 4. Show the count of the rows

In [11]:
df.count()

29784

### 5. Print the schema

In [12]:
df.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)
 |-- Shape: string (nullable = true)

### 6. Display first 5 rows

In [13]:
df.show(5)

+----------------+----------------+-----+--------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
|               X|               Y|RowID|       CrimeDateTime|CrimeCode|          Location|         Description|Inside_Outside| Weapon|Post| District|  Neighborhood|Latitude|Longitude|       GeoLocation|Premise|VRIName|Total_Incidents|Shape|
+----------------+----------------+-----+--------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
|1428019.10487147|589532.731060804|    1|2022/03/05 03:43:...|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1428019.10487147|589532.731060804|    2|2022/03/05 03:43:...|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1428019.10487147|589532.731060804|    3|2022/03/05 03:43:...|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1423024.46477252| 572683.29122287|    4|2022/03/05 04:30:...|      3CF|100 E PATAPSCO AVE|ROBBERY - COMMERCIAL|          null|FIREARM| 913| SOUTHERN|      BROOKLYN| 39.2385| -76.6092|(39.2385,-76.6092)|   null|   null|              1| null|
|1400632.37017858|593904.722108476|    5|2022/03/05 01:30:...|      3AF|     RD & KEVIN RD|    ROBBERY - STREET|          null|FIREARM| 822|SOUTHWEST|ROGNEL HEIGHTS|  39.297|  -76.688|  (39.297,-76.688)|   null|   null|              1| null|
+----------------+----------------+-----+--------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
only showing top 5 rows

### 7. Answer the following questions using DataFrame operations

#### a. 1. What are distinct crime codes?

In [15]:
df.select('CrimeCode').distinct().collect()

[Row(CrimeCode='3P'),
 Row(CrimeCode='3K'),
 Row(CrimeCode='3BJ'),
 Row(CrimeCode='1A'),
 Row(CrimeCode='3M'),
 Row(CrimeCode='5F'),
 Row(CrimeCode='4B'),
 Row(CrimeCode='3B'),
 Row(CrimeCode='3NF'),
 Row(CrimeCode='7A'),
 Row(CrimeCode='3EF'),
 Row(CrimeCode='3N'),
 Row(CrimeCode='5D'),
 Row(CrimeCode='3LO'),
 Row(CrimeCode='3AF'),
 Row(CrimeCode='7B'),
 Row(CrimeCode='3GO'),
 Row(CrimeCode='3AJF'),
 Row(CrimeCode='8AO'),
 Row(CrimeCode='7C'),
 Row(CrimeCode='3AK'),
 Row(CrimeCode='3GK'),
 Row(CrimeCode='6L'),
 Row(CrimeCode='3EO'),
 Row(CrimeCode='3JO'),
 Row(CrimeCode='1K'),
 Row(CrimeCode='8H'),
 Row(CrimeCode='4C'),
 Row(CrimeCode='5A'),
 Row(CrimeCode='6C'),
 Row(CrimeCode='3NK'),
 Row(CrimeCode='3D'),
 Row(CrimeCode='3AJK'),
 Row(CrimeCode='3CO'),
 Row(CrimeCode='3L'),
 Row(CrimeCode='4E'),
 Row(CrimeCode='6D'),
 Row(CrimeCode='2A'),
 Row(CrimeCode='3C'),
 Row(CrimeCode='8I'),
 Row(CrimeCode='3NO'),
 Row(CrimeCode='3JF'),
 Row(CrimeCode='3LF'),
 Row(CrimeCode='3E'),
 Row(CrimeCode='1O'),
 Row(CrimeCode='8J'),
 Row(CrimeCode='3CK'),
 Row(CrimeCode='8BO'),
 Row(CrimeCode='2B'),
 Row(CrimeCode='3JK'),
 Row(CrimeCode='5B'),
 Row(CrimeCode='4A'),
 Row(CrimeCode='3CF'),
 Row(CrimeCode='8EO'),
 Row(CrimeCode='6G'),
 Row(CrimeCode='6A'),
 Row(CrimeCode='9S'),
 Row(CrimeCode='3EK'),
 Row(CrimeCode='3GF'),
 Row(CrimeCode='3H'),
 Row(CrimeCode='4D'),
 Row(CrimeCode='8FO'),
 Row(CrimeCode='6J'),
 Row(CrimeCode='6F'),
 Row(CrimeCode='6E'),
 Row(CrimeCode='3J'),
 Row(CrimeCode='5C'),
 Row(CrimeCode='5E'),
 Row(CrimeCode='3AJO'),
 Row(CrimeCode='3AO'),
 Row(CrimeCode='6B'),
 Row(CrimeCode='6H'),
 Row(CrimeCode='8GO'),
 Row(CrimeCode='8AV')]

In [17]:
display(df
        .groupBy("CrimeCode")
        .agg(F.count("CrimeCode"))
        .withColumnRenamed("count(CrimeCode)", "CrimeCount")
        .orderBy("CrimeCount", ascending=True)
        )

DataFrame[CrimeCode: string, CrimeCount: bigint]

In [18]:
dataFrameWay = df.groupBy("CrimeCode").count().withColumnRenamed("count(CrimeCode)","CrimeCount").sort(asc("count"))

In [33]:
df.select("CrimeCode").groupBy("CrimeCode").agg(F.count("CrimeCode").alias("number_of_crimes")).sort(col("number_of_crimes").desc()).show()

+---------+----------------+
|CrimeCode|number_of_crimes|
+---------+----------------+
|       4E|            6614|
|       6D|            3910|
|       7A|            2274|
|       4B|            1907|
|       6J|            1407|
|       5A|            1239|
|       6C|             998|
|       4A|             979|
|       4C|             978|
|       6F|             948|
|       6G|             888|
|       5F|             884|
|       5B|             647|
|       9S|             598|
|      3AF|             572|
|       6L|             571|
|       6E|             549|
|      3AO|             396|
|     3AJF|             385|
|      3GF|             301|
+---------+----------------+
only showing top 20 rows

### 3. Which neighborhood had most crimes?

In [21]:
print(df
        .groupBy("Neighborhood")
        .agg(F.count("Neighborhood"))
        .withColumnRenamed("count(Neighborhood)", "CrimeCount")
        .orderBy("CrimeCount", ascending=False)
        .first()["Neighborhood"]
        )

DOWNTOWN

### 4. Which month of the year had most crimes?

In [22]:
df.select(F.unix_timestamp("CrimeDateTime", "yyyy/MM/dd HH:mm:ss+00").alias("timestamps")).groupBy(F.dayofyear("timestamps")).agg(F.count("timestamps"))

AnalysisException: ignored

In [25]:
from pyspark.sql.functions import month

In [28]:
monthdf = df.withColumn("Month",month("CrimeDatetime"))
monthdf

DataFrame[X: double, Y: double, RowID: int, CrimeDateTime: string, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: string, District: string, Neighborhood: string, Latitude: double, Longitude: double, GeoLocation: string, Premise: string, VRIName: string, Total_Incidents: int, Shape: string, Month: int]

In [35]:
monthCounts = monthdf.select("Month").groupBy("Month").count()
monthCounts

DataFrame[Month: int, count: bigint]

### 5. What weapons were used?

In [46]:
not_weapon = ["NA","null"]
print(df
       .filter(~F.col("Weapon").isin(not_weapon))
       .select("Weapon")
       .distinct()
       )

DataFrame[Weapon: string]

In [47]:
crimetypes= df.filter(~F.col("Weapon").isin(not_weapon)).select("Weapon").distinct()

In [48]:
crimetypes

DataFrame[Weapon: string]

### 6. Which weapon was used the most?

In [24]:
print(df
        .filter(~F.col("Weapon").isin(not_weapon))
        .groupBy("Weapon")
        .agg(F.count("Weapon"))
        .withColumnRenamed("count(Weapon)", "WeaponCount")
        .orderBy("WeaponCount", ascending=False)
        .first()["Weapon"]
        )

FIREARM